html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}
* {box-sizing: border-box;}
header {
	padding: 10px 0;
}
.logo {
	font-size: 1.5rem;
	font-style: italic;
	font-weight: bold;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.products {
	display: flex;
	flex-wrap: wrap;
}
.products__item {
	border-radius: 4px;
	background: #ededed;
	box-shadow: rgba(0, 0, 0, 0.16) 0 2px 5px 0, rgba(0, 0, 0, 0.12) 0 2px 10px 0;
}
.products__name {
	margin-top: 0;
}

.products__category {
	color: #4e4a4a;
	font-size: .8rem;
	font-style: italic;
}
.products__images {
	position: relative;
	overflow: hidden;
	height: 200px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
.products__image {
	display: inline-block;
	width: 90%;
	height: 100%;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
}

.products__body {
	padding: 10px 15px;
}

.products__container {
	padding: 10px;
	width: 100%;
}
.products__prices {
	display: flex;
	width: 100%;
}
.products__price {
	width: 50%;
	text-align: center;
	padding: 5px;
	position: relative;
}
.products__price--default {
	background: #f00;
	color: #fff;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.16) 0 2px 5px 0, rgba(0, 0, 0, 0.12) 0 2px 10px 0;
}

.products__price--old:after {
	content: '';
	height: 2px;
	background: #000;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 50%;
	transform: rotate(-5deg);
}

@media screen and (min-width: 500px) {
	.products__container {
		width: 33.33%;
	}
}

footer {
	padding: 30px 0;
	text-align: center;
}

